body{
    background-color: #fff176;
}
#titulo{
    background-color: white;
    padding: 10pt;
    float: left;
}
h1{
    font-family: arial;
    text-align: center;
}
h2{
    font-family: arial;
    color: brown;
}
div.edad{
    background-color:  #fbc02d;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    float: left;
    margin: 5pt;
    width: 30%;
    height: 50%;
}
div.años{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
p{
    background-color: #fdd84f;
    padding-left: 5pt;
    padding-right: 5pt;
    color: black;
    font-family: arial;
}
div.amarillo{
    background-color: #ffeb3b;
    padding: 5pt;
    
}
