#titulo{
    background-color: #fff176;
    padding-left: 5pt;
    padding-right: 5pt;
}
#edadmedia{
    background-color:  #fbc02d;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
}
#edadmoderna{
    background-color:  #fbc02d;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
}
#edadcontemporanea{
    background-color:  #fbc02d;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
}
#a577{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1287{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1542{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1782{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1812{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1819{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1900{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1911{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
#a1947{
    background-color: #f57f17;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 1pt;
    color:azure;
    font-family: arial;
}
p{
    background-color: #fdd84f;
    padding-left: 5pt;
    padding-right: 5pt;
    color: black;
    font-family: arial;
}
